# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
env/
venv/
.DS_Store
src/data_clean_master.py
data/raw/Estatistica_de_Fat_Produtos.csv

# SQLite
*.db
*.sqlite3

# Power BI
*.pbix

# Logs
*.log

# VS Code
.vscode/
.history/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
